* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(3, 58, 67);
  background: white;
}

.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebarOption .material-icons {
  padding: 20px;
}

.sidebarOption h2 {
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
}

.sidebarOption:hover {
  background-color: rgb(5, 144, 230);
  border-radius: 30px;
  color: rgb(3, 58, 67);
  transition: color 100ms ease-out;
}

.sidebarOption.active {
  color: rgb(5, 144, 230);
}

.sidebar_send {
  width: 100%;
  background-color: aqua;
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  height: 50px;
  margin-top: 20px;
}

body {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}
